//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 17 23:49:39 2021
//! **************************************************************************

SCHEMATIC START;
COMP "mosi_aux2" LOCATE = SITE "K14" LEVEL 1;
COMP "AUX<2>" LOCATE = SITE "B5" LEVEL 1;
COMP "AUX<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "AUX<4>" LOCATE = SITE "B6" LEVEL 1;
COMP "SCK_aux2" LOCATE = SITE "J12" LEVEL 1;
COMP "AUX<5>" LOCATE = SITE "C6" LEVEL 1;
COMP "L01_clk_p" LOCATE = SITE "B2" LEVEL 1;
COMP "A<0>" LOCATE = SITE "F13" LEVEL 1;
COMP "A<1>" LOCATE = SITE "F14" LEVEL 1;
COMP "clk" LOCATE = SITE "A7" LEVEL 1;
COMP "A<2>" LOCATE = SITE "G13" LEVEL 1;
COMP "FL" LOCATE = SITE "N1" LEVEL 1;
COMP "L09_clk_p" LOCATE = SITE "D13" LEVEL 1;
COMP "A<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "B<0>" LOCATE = SITE "D2" LEVEL 1;
COMP "A<4>" LOCATE = SITE "H12" LEVEL 1;
COMP "B<1>" LOCATE = SITE "D1" LEVEL 1;
COMP "A<5>" LOCATE = SITE "H13" LEVEL 1;
COMP "B<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "A<6>" LOCATE = SITE "J14" LEVEL 1;
COMP "B<3>" LOCATE = SITE "F2" LEVEL 1;
COMP "A<7>" LOCATE = SITE "J13" LEVEL 1;
COMP "B<4>" LOCATE = SITE "F1" LEVEL 1;
COMP "TxD_X" LOCATE = SITE "M9" LEVEL 1;
COMP "TxD_Y" LOCATE = SITE "M5" LEVEL 1;
COMP "B<5>" LOCATE = SITE "G1" LEVEL 1;
COMP "TxD_Z" LOCATE = SITE "M4" LEVEL 1;
COMP "B<6>" LOCATE = SITE "G3" LEVEL 1;
COMP "B<7>" LOCATE = SITE "H1" LEVEL 1;
COMP "B<8>" LOCATE = SITE "H2" LEVEL 1;
COMP "B<9>" LOCATE = SITE "H3" LEVEL 1;
COMP "CS_aux1" LOCATE = SITE "N13" LEVEL 1;
COMP "clk_alt" LOCATE = SITE "B8" LEVEL 1;
COMP "miso_aux1" LOCATE = SITE "N14" LEVEL 1;
COMP "test" LOCATE = SITE "P1" LEVEL 1;
COMP "CS_aux2" LOCATE = SITE "L13" LEVEL 1;
COMP "L10_clk_p" LOCATE = SITE "C14" LEVEL 1;
COMP "L02_clk_p" LOCATE = SITE "C3" LEVEL 1;
COMP "B<10>" LOCATE = SITE "J3" LEVEL 1;
COMP "B<11>" LOCATE = SITE "K3" LEVEL 1;
COMP "miso_aux2" LOCATE = SITE "L14" LEVEL 1;
COMP "B<12>" LOCATE = SITE "L1" LEVEL 1;
COMP "B<13>" LOCATE = SITE "L2" LEVEL 1;
COMP "B<14>" LOCATE = SITE "L3" LEVEL 1;
COMP "B<15>" LOCATE = SITE "M1" LEVEL 1;
COMP "mosi_aux1" LOCATE = SITE "M12" LEVEL 1;
COMP "DE_X" LOCATE = SITE "N9" LEVEL 1;
COMP "DE_Y" LOCATE = SITE "P6" LEVEL 1;
COMP "DE_Z" LOCATE = SITE "N4" LEVEL 1;
COMP "SCK_aux1" LOCATE = SITE "M13" LEVEL 1;
COMP "rst" LOCATE = SITE "A3" LEVEL 1;
COMP "RxD_X" LOCATE = SITE "N10" LEVEL 1;
COMP "RxD_Y" LOCATE = SITE "P7" LEVEL 1;
COMP "RxD_Z" LOCATE = SITE "P4" LEVEL 1;
COMP "AUX<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "AUX<1>" LOCATE = SITE "C4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_alt_BUFGP/IBUFG" BEL "clk_alt_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

